<h1><%= @user.nickname %>'s profile</h1>
<div id="posts">
  <% @posts.each do |post| %>
    <div class="post">
      <%= render_post post, :only_post=>true %>
    </div>
  <% end %>
  <center><%= link_to "Return to top", "#" %></center>
</div>
