// Place all the styles related to the talk controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
  font-family:"Helvetica", Helvetica, sans-serif;
}
.notice {
  color: green;
}
.alert {
  color: red;
}