// Place all the styles related to the talk controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
  font-family:"Helvetica", Helvetica, sans-serif;
}

#talkwrapper {
  margin:auto;
  width:900px;
}

.notice {
  color: green;
  text-align:center;
}
.alert {
  color: red;
  text-align:center
}

#content {
  float:left;
  width:610px;
  border:1px dotted black;
  padding:10px;
}

#rightcol {
  float:right;
  padding:20px;
  width:215px;
  border:1px dotted black;
}

#search {
  float:left;
}

#filters {
  float:right;
}

#posts {
  clear:both;
  margin:30px auto auto auto;
  background-color:lighten(#ccc, 10%);;
}

.post {
  margin:20px auto;
  padding:10px;
}

#posts .top_level {
  background-color:#bcc;
}

.children {
  margin:10px auto  auto 15px;
  background-color:lighten(#bcc, 10%);
}

.shybox {
  position:relative;
}

.shybox textarea {
  height: 180px;
  margin: 10px;
  width: 565px;
}

.shybox .close {
  position:absolute;
  top:5px;
  right:5px;
}
