// Place all the styles related to the talk controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$avatar_size: 42px;

html {
  font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
}
h1 {
  margin:5px;
}

a {
  text-decoration:none;
  color:#555;
}

a:hover {
  color:#999;
}

#usernav .avatar {
  float:left;
  margin-right: 10px;
}

.pagination .current {
    background-color: #BEBEBE;
    border-radius: 1em 1em 1em 1em;
    display: inline-block;
    font-style: normal;
    font-weight: bold;
    height: 1.4em;
    line-height: 1.5;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.8);
    width: 1.4em;
}

.pagination .disabled {
    color: #AAAAAA;
}

.pagination a {
    color: black;
    text-decoration: none;
}

.pagination a, .pagination span {
    padding: 0.2em 0.3em;
}

.pagination {
  background: none repeat scroll 0 0 #F1F1F1;
  border: 1px solid #E5E5E5;
  cursor: default;
  padding: 5px;
  margin: 10px 0;
  text-align: center;
}

.file_list .pagination {
  font-size:small;
}

#links {
  min-height:32px;
}

#links a {
  font-size:0.9em;
  font-weight:bold;
  color:darken(#A2D7FC, 15%);
  padding:3px 6px;
  border:1px solid #FFF;
  text-decoration:none;
  margin:0 10px;
}

#links a:hover {
  font-size:0.9em;
  font-weight:bold;
  color:darken(#A2D7FC, 15%);
  border:1px solid #4F6D80;
  padding:3px 6px;
  border-radius:3px;
  text-decoration:none;
}

a.new_thread {
  right: 0px;
  position: absolute;
  top: -35px;
}

a.silver_button {
  border: 1px solid transparent;
  border-radius: 3px 3px 3px 3px;
  color: #555555;
  display: inline-block;
  text-decoration:none;
  font-size:1em;
  font-style: normal;
  line-height: 18px;
  padding: 5px 10px;
  text-shadow: 0 1px white;
  font-family:'Helvetica', 'Arial';
  background: -moz-linear-gradient(bottom center, #CCC, #FFF);
  background: -webkit-gradient(linear, center bottom, center top, from(#CCC), to(#FFF));
  box-shadow: 0px 1px 0px #fff inset;
  border: 1px solid #ADADAD;
}

a.silver_button:active {
  background: -moz-linear-gradient(bottom center, #EEE, #BBB);
  background: -webkit-gradient(linear, center bottom, center top, from(#EEE), to(#BBB));
}

a.silver_button:hover {
  background: -moz-linear-gradient(bottom center, #FFF, #CCC);
  background: -webkit-gradient(linear, center bottom, center top, from(#FFF), to(#CCC));
}

.new_post .actions {
  text-align:center;
}

.new_post .actions .finish {
  font-family: Helvetica;
  font-size: 17px;
  height: 40px;
  margin: 10px 50px;
  width: 90px;
}

.attachments {
  margin:5px auto;
}

.new_post .actions .attachment_fields label {
  color:#666;
  font:bold 0.8em verdana,arial,helvetica,sans-serif;
}

#posts {
  position:relative;
}

#posts .post {
  background: -moz-linear-gradient(top center, #f1f1f1, #E5E5E5);
  background: -webkit-gradient(linear, center top, center bottom, from(#FBFBFB), to(#E5E5E5));
  box-shadow: -1px 1px 6px #666666;
  //-webkit-box-shadow: 0px 0px 1px #666;
  //-moz-box-shadow: 0px 0px 1px #666;
  -webkit-box-shadow:-1px 1px 6px #666666;
  -moz-box-shadow: -1px 1px 6px #666666;
  border: 1px solid white;
  padding: 10px 0 5px 5px;
  margin: 10px 1px 15px 0px;
  border-radius: 3px;
  position:relative;
  overflow:hidden;
}

.post .replies {
  margin:auto 10px;
}

.flash {
  text-align:center;
  padding:10px;
  margin:15px auto;
  width:600px;
}

.body_saver {
  margin:15px auto;
  background-color:lighten(#DCE1E6, 40%);
  padding:10px;
  border:1px solid #DCE1E6;
  width:600px;
}

.body_saver p.blurb {
  font:bold 21px helvetica,arial,helvetica,sans-serif;
  color:#888;
  font-weight:bold;
  text-align:center;
  margin:0px;
}

.notice {
  background-color: lighten(#1BE04C, 40%);
  border:1px solid #1BE04C;
}
.alert {
  background-color: lighten(#E01B4C, 40%);
  border:1px solid #E01B4C;
}

#posts {
  margin:30px auto auto auto;
}

.post .bottom_bar a {
  font:bold x-small verdana, arial, helvetica, sans-serif;
  color:#888;
  text-decoration:none;
  margin-left:20px;
}

.post .bottom_bar a:hover {
  color:#666;
  font:normal x-small verdana, arial, helvetica, sans-serif;
}

.post .top_bar {
  font:normal x-small verdana, arial, helvetica, sans-serif;
}

.post .expand {
  border: 1px solid transparent;
  border-radius: 3px 3px 3px 3px;
  color: #555555;
  display: inline-block;
  font-style: normal;
  line-height: 18px;
  margin-left: 10px;
  margin-right: 3px;
  padding: 0 10px;
  text-shadow: 0 1px white;
  font-family:'Helvetica', 'Arial';
}

.post .expand:hover {
  background: -moz-linear-gradient(bottom center, #EEE, #BBB);
  background: -webkit-gradient(linear, center bottom, center top, from(#EEE), to(#BBB));
  box-shadow: 0px 1px 0px #fff inset;
  border: 1px solid #ADADAD;
}

#posts .avatar {
  height:$avatar_size;
  position:absolute;
  right: 5px;
  top: 5px;
}

.avatar {
  box-shadow: 0px 0px 1px #999;
  -webkit-box-shadow: 0px 0px 1px #666;
  -moz-box-shadow: 0px 0px 1px #666;
  border: 1px solid white;
  border-radius: 3px;  
}

.post .author {
  color: #666;
  font-weight: bold;
  text-decoration:none;
}

.post .author_block {
  color: #999999;
  display: inline;
  position: absolute;
  right: 55px;
  text-align: right;
  top: 6px;
}

.post .info_block {
  position: absolute;
  left: 55px;
  text-align: left;
  top: 6px;
}

.post .time {
  color: #888;
  font-weight: bold;
  margin-right:90px;
}

.post .body {
  min-height:$avatar_size;
  padding:15px 10px 0px 10px;
  font:normal small verdana, arial, helvetica, sans-serif
}

.file {
  font-size:0.8em;
  margin:10px 20px;
  padding:5px;
}

a.file {
  font-size:0.9em;
  font-weight:bold;
  color:darken(#A2D7FC, 15%);
  background-color:darken(#5D6469, 20%);
  padding:3px 6px;
  border-radius:10px;
  text-decoration:none;
  margin-right:3px;
}

a.file:hover {
  font-size:0.9em;
  font-weight:bold;
  color:#A2D7FC;
  background-color:#5D6469;
  text-decoration:none;
  margin-right:3px;
}

#talkwrapper {
  margin:auto;
  width:900px;
}

#content {
  float:left;
  width:610px;
  border:1px dotted #ccc;
  border-radius:10px;
  padding:10px;
}

#rightcol {
  float:right;
  padding:20px;
  width:215px;
  border:1px dotted #ccc;
  border-radius:10px;
}

#search {
  float:left;
}

#filters {
  float:right;
}

.shybox {
  position:relative;
}

.shybox textarea {
  height: 180px;
  margin: 10px auto;
  width: 97%;
}

.shybox .close {
  position:absolute;
  top:5px;
  right:5px;
}

.file_list {
  list-style-type:none;
  margin:0;
  padding:0;
  background: -moz-linear-gradient(top center, #f1f1f1, #E5E5E5);
  background: -webkit-gradient(linear, center top, center bottom, from(#FBFBFB), to(#E5E5E5));
  box-shadow: -1px 1px 6px #666666;
  -webkit-box-shadow:-1px 1px 6px #666666;
  -moz-box-shadow: -1px 1px 6px #666666;
  border: 1px solid white;
  margin: 10px 1px 15px 0px;
  border-radius: 3px;
  text-align:center;
  clear:both;
}

.file_list li a.graylink {
  color: #888;
  text-decoration: none;
}

.file_list li a.graylink:hover {
  color: #666;
};

.file_list li {
  color: #888888;
  font: bold x-small/18px verdana,arial,helvetica,sans-serif;
  padding: 5px;
}

.file_list a.file {
  margin:0;
  line-height:22px;
}

.file_db {
  text-align:left;
  width:100%;
  border-collapse:collapse;
}

.file_db td {
  padding:5px;
  text-align:center;
}

.file_db th {
  text-align:center;
}

.file_db tr.even {
  background-color:darken(#E5E5E5, 5%);
}